.form {
width:300px;
height:100pxl
background color #AB9C9C;
text-align: center;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 16px;
}
